body {
  margin: 0;
  padding: 0;
  background: white;
}
table {
  border-collapse: collapse;
  width: 600px;
  height: 600px;
  margin: 40px auto;
  table-layout: fixed;
}
td {
  border: 5px solid black;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.yellow {
  background: yellow;
}
.white {
  background: white;
}
.black {
  background: black;
}
